@media(max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        height: 100%
        object-fit: cover
  .grid
    &-item
      &__booking
        &--first
          padding: 29px 21px 30px 23px
      &__describe
        margin-bottom: 20px
  .card
    width: 230px
    height: 230px
  .footer
    &-wrapper
      grid-template-columns: 200px 260px 230px 195px
    &__input
      &-group
        flex-basis: 100%
@media(max-width: 992px)
  .button
    &::hover
      display: none
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
    object-fit: cover
    &__image
      width: 100%
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: 47px
    &-menu
      margin-left: 14px
      margin-right: 14px
      padding: 21px 0
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .breadcrumb
    padding-top: 2px
  .hotel
    padding-bottom: 56px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
      &__image
        width: 100%
  .booking
    width: 340px
    padding: 29px 22px 26px 23px
  .map
    width: 340px
  .packages
    &__grid
      grid-template: 500px 500px / 1fr 1fr
  .grid
    &-item
      &:nth-child(1)
        display: none
      &__button
        padding: 10px 15px
  .newsletter
    padding: 93px 0
  .reviews
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
  .activities
    padding-bottom: 48px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
    &__title
      max-width: 160px
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: 182px 277px 200px
      grid-row-gap: 50px
      margin-bottom: 60px
    &__input
      &-group
        flex-basis: 47%
    &__logo
      max-width: 97px
      grid-row: 1 /2
    &__social
      &-network
        margin-left: -15px
        padding-top: 13px
        grid-row: 1 / 2
        grid-column: span 3
        align-self: center
    &__categories
      grid-row: 2 / 3
    &__contact
      &-details
        margin-left: 0
        margin-top: 13px
        grid-row: 3
        grid-column: span 3
      &-form
        grid-row: 4
        margin-top: -13px
        grid-column: span 3
        max-width: 540px
    &__item
      &--mb-2
        margin-bottom: 18px
    &-disclaimer
      margin-left: 0
      transform: translateX(0%)
  .modal
    &__dialog
      padding: 33px 35px
    &__message
      min-height: 100px

@media(max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 30
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &__search
      width: 80%
    &-bottom
      display: none
      &--visible
        display: block
        position: fixed
        top: 78px
        right: 0
        bottom: 0
        left: 0
        overflow: scroll
    &-menu
      flex-direction: column
      align-items: center
      margin-bottom: 20px
      margin-top: 30px
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: flex
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .stars
    flex-basis: 50%
    display: flex
    justify-content: flex-end
  .booking
    width: 100%
  .map
    width: 100%
  .packages
    &__grid
      grid-template: 420px 420px / 1fr 1fr
  .grid
    &-item
      &__image
        height: 200px
      &__booking
        padding: 20px 25px
        min-height: 220px
      &__room
        margin-bottom: 10px
      &__price
      &--old
        font-size: 10px
        line-height: 14px
      &--new
        font-weight: bold
        font-size: 20px
        line-height: 26px
      &__button
        font-size: 10px
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &-title
      font-size: 20px
      line-height: 25px
      &-strong
        font-size: 30px
        line-height: 38px
    &__title
      margin-bottom: 37px
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 45px
        &--prev
          left: 50%
          margin-left: -105px
          transform: translate(0, -50%)
        &--next
          right: 50%
          margin-right: -105px
          transform: translate(0, -50%)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
  .footer
    &-wrapper
      grid-template-columns: repeat(3, 1fr)
    &__social
      &-network
        margin-left: 0
        padding-top: 0
    &-bottom
      flex-wrap: wrap

@media(max-width: 576px)
  .logo
    width: 99px
    &__image
      width: 100%
  .hotel
    &-slider
      height: 250px
    &__slider
      margin-bottom: 20px
  .packages
    &__title
      font-size: 20px
      margin-bottom: 10px
    &__grid
      grid-template: 420px/ 1fr
      margin-bottom: 30px
    &__show
      display: block
  .grid
    &-item
      &__image
        width: 100%
      &:nth-child(2n)
        display: none
  .newsletter
    padding: 76px 0 83px 0
  .subscribe
    width: 100%
  .reviews
    &__title
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px
  .activities
    &__title
      margin-bottom: 36px
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 100%
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
        width: 100%
    &__input
      &-group
        flex-basis: 100%
    &__info
      order: 0
  .modal
    &__dialog
      position: fixed
      top: 10px
      left: 10px
      right: 10px
      transform: translate(0, 0)

@media(max-width: 330px)
  .container, .newsletter-wrapper
    width: 280px
  .logo
    margin-top: -5px
  .navbar
    &-top
      padding: 28px 0
  .breadcrumb
    margin-top: -9px
  .hotel
    padding-top: 0
    padding-bottom: 32px
    &-info
      padding-bottom: 40px
    &-stars
      margin-top: 5px
      margin-right: 15px
    &__slider
      height: 180px
    &-right
      min-height: 410px
  .map
    max-height: 170px
  .newsletter
    padding: 76px 0 82px 0
    &-title
      font-size: 20px
      &__strong
        font-size: 30px
  .reviews
    padding-bottom: 50px
  .activities
    padding-top: 43px
    padding-bottom: 40px
    &__title
      font-size: 18px
      line-height: 23px
    &__card
      &:nth-child(2)
        margin-bottom: 28px
  .footer
    padding-top: 70px
    &-wrapper
      grid-row-gap: 30px
      margin-bottom: 32px
    &__logo
      margin-top: -2px
    &__social-network
      flex-wrap: wrap
    &__title--inline
      margin-bottom: 20px
    &__social-network
      margin-top: 11px
    &__additional
      margin-top: 3px
    &__categories
      margin-top: 3px
    &__icon-wrapper
      min-width: 25px
    &__item--mb-2
      margin-bottom: 27px
    &__contact-form
      margin-top: 0
    &__title--mb-32
      margin-bottom: 14px
    &__message
      margin-bottom: 15px
    &__wrapper
      flex-wrap: wrap
    &__info
      flex-basis: 100%
      order: -1
      margin-bottom: 14px
    &-disclaimer
      margin-bottom: 10px

@media(max-height: 500px)
  .modal
    &__input
      max-height: 30px
      &::placeholder
        font-size: 10px
    &__message
      max-height: 80px
      &::placeholder
        font-size: 10px
    &__button
      min-width: 130px
      min-height: 40px
  .invalid
    font-size: 10px
